C:\Users\sreya\Documents\GitHub\CSE-AI-ML-Sem6-Labs\IT\Week6\Sessions\db.sqlite3
C:\Users\sreya\Documents\GitHub\CSE-AI-ML-Sem6-Labs\IT\Week6\Sessions\Sessions\__pycache__\__init__.cpython-39
C:\Users\sreya\Documents\GitHub\CSE-AI-ML-Sem6-Labs\IT\Week6\Sessions\Sessions\__pycache__\settings.cpython-39
C:\Users\sreya\Documents\GitHub\CSE-AI-ML-Sem6-Labs\IT\Week6\Sessions\Sessions\__pycache__\urls.cpython-39
C:\Users\sreya\Documents\GitHub\CSE-AI-ML-Sem6-Labs\IT\Week6\Sessions\Sessions\__pycache__\wsgi.cpython-39
